#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

.center {
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0px;
	top: 3px;
}

#open_popup {
	color: #FEF4E9;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	padding: .7em 2.5em .55em;
	border: none;
	background: url("../images/icon_menu.png") no-repeat left 7px;
}

#popup, .popup {
	padding-bottom: 2px;
	display: none;
	background: #FFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
}

#popup-header, .popup-header {
	
}

#popup_content {
	left: auto !important;
	margin-left: -14px !important;
	position: absolute !important;
	top: 33px !important;
	z-index: 99999 !important;
}

#popup-header  h2, .popup-header  h2 {
	color: #444;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 3px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#popup-header  p, .popup-header  p {
	color: #444;
	font-size: 1.3em;
	margin: 0;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: none;
}

.info_popup {
	text-align: center;
}

.close_popup {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(../img/modal_close.png);
	z-index: 2;
}