<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>Hệ thống dịch vụ hành chính công trực tuyến</title>
	#* <script src="$javascript_folder/bootstrap.min.js" type="text/javascript" ></script> *#
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript" ></script>
	<script src="$javascript_folder/jquery.min.js" type="text/javascript" ></script>

	$theme.include($top_head_include)
</head>

<body class="$css_class">
	
	#if($is_signed_in && $permissionChecker.isCompanyAdmin($company_id))
		#dockbar()
	#end
	<header class="header_duongbo container-fuild">
		<a class="logo" href="#">logo</a>
		<h3 class="solgan"><span>Cổng thông tin điện tử bộ giao thông vận tải</span><br>hệ thống dịch vụ hành chính công trực tuyến</h3>
		<div class="iconCN pull-right">
			#if ($is_signed_in)
				<a class="pull-left" href="#"><i class="fa2 fa fa-info-circle"></i></a>
				<a class="pos pull-left" href="#"><i class="fa2 fa fa-comments"></i><span class="TB badge">3</span></a>
				<a class="textT pull-left" href="#"><i class="VT fa3 fa fa-user"></i>$user_name</a>
				<a class="pull-left" href="/c/portal/logout"><i class="fa2 fa fa-sign-out"></i></a>
			#end
			#if (!$is_signed_in)
				<a class="pull-left" href="$sign_in_url"><i class="fa2 fa fa-sign-out"></i></a>
			#end
		</div>
	</header><!-- end header -->
	

	<section class="container-fuild">
		<div class="M0 row row-eq-height">
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</section>
	<footer class="text-center bg container-fuild">
		<p>Bộ giao thông vận tải</p>
	</footer>
	$theme.include($body_bottom_include)
	$theme.include($bottom_include)
	
<script type="text/javascript">
	jQuery(document).ready(function() {
		var offset = 100;
		var duration = 500;
		jQuery(window).scroll(function() {
			if (jQuery(this).scrollTop() > offset) {
				jQuery('.back-to-top').fadeIn(duration);
			} else {
				jQuery('.back-to-top').fadeOut(duration);
			}
		});
		jQuery('.back-to-top').click(function(event) {
			event.preventDefault();
			jQuery('html, body').animate({scrollTop: 0}, duration);
			return false;
		})
	});	
</script>

</body>
</html>